<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    {{{ body }}}

    <hr />
    <footer>
        <p>please <b>do not reply</b> to this email as the mailbox is unmanned and cannot respond.</p>
    </footer>
</body>
</html>
