<p>Hi {{ name }},</p>
<p>Please verify your account by following the link <a href="http://apexsolution.co.uk/verify?vt={{token}}">apexsolution.co.uk/verify</a>.</p>
<br />
<p>
    note: the link provided is valid for 30 minutes, after which time, you will require a new verification link available at
    <a href="https://apexsolution.co.uk/accounts/verify"> apexsolution.co.uk/accounts/verify</a>.
</p>

